<main role="main" class="container">
  <h1 class="mt-5">Kattis Tracker</h1>

  <div class="alert alert-primary" role="alert">
    Note that this will only work for https://open.kattis.com.
  </div>

  <form id="viewProgressForm">
    <div class="form-group">
      <label>Kattis username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
      <small class="form-text text-muted">This form redirects you to http://kattis-monitor.herokuapp.com/progress/[username].</small>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">View Progress</button>
  </form>
</main>
<script>
  document.getElementById("viewProgressForm").addEventListener("submit", function(e) {
    e.preventDefault();
    let username = document.getElementById("username").value;
    if (!username) {
      return;
    }
    document.location = `http://kattis-monitor.herokuapp.com/progress/${username}`;
  });
</script>
